@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #1c1917;
  --foreground: #fef3c7;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-geist-sans), system-ui, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
